* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background: url(/templates/images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 190px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 190px;
    background: #666;
    border-top: 1px solid black;
    color: white;
}
.footer a {
    color: white;
}
.footer p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.uk-htmleditor-navbar li a i {
    padding-top: 15px;
}

.button-inactive {
    background: gray;
}
.button-inactive:hover {
    background: gray;
}
.timetable tr td {
    padding: 8px 4px;
    width: 13%;
}
.tm-footer {
    padding-top: 15px;
}